.carousel {
  display: flex;
  gap: 28px;
  justify-content: center;

  @include lg {
    gap: 40px;
  }

  &__window {
    display: flex;
    width: 278px;
    overflow: hidden;
    gap: 40px;
    padding: 5px;

    transition: all 600ms ease-in-out;

    @include lg {
      width: 612px;
    }

    @include xl {
      width: 920px;
    }
  }

  &__button {
    display: flex;
    padding: 10px;
    border-width: 0 3px 3px 0;
    justify-content: center;
    background-color: transparent;
    align-self: center;
    cursor: pointer;

    &--left {
      position: relative;
      left: 20px;
      -webkit-transform: rotate(135deg);

      @include md {
        position: static;
      }
    }

    &--right {
      position: relative;
      right: 20px;
      -webkit-transform: rotate(-45deg);

      @include md {
        position: static;
      }
    }
  }
}
