.carousel {
  display: flex;
  gap: 40px;
  justify-content: center;

  &__window {
    display: flex;
    width: 920px;
    overflow: hidden;
    gap: 40px;
    padding: 5px;

    transition: all 600ms ease-in-out;
  }

  &__button {
    display: flex;
    padding: 10px;
    border-width: 0 3px 3px 0;
    justify-content: center;
    background-color: transparent;
    align-self: center;
    cursor: pointer;

    &--left {
      -webkit-transform: rotate(135deg);
    }

    &--right {
      -webkit-transform: rotate(-45deg)
    }
  }


}
