.carouselItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 500ms ease-in-out;

  p {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 12px;
  }


  &__photo {
    width: 280px;
    height: 400px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #78716C;
  }

  &__information {
    display: grid;
    row-gap: 7px;
    grid-template-columns: 1fr 1fr;
    background-color: #DDD6FE;
    border-radius: 8px;
    border: 1px dashed #78716C;
    padding: 20px 10px 12px;

    &__link {
      margin-top: 10px;
      display: flex;
      text-decoration: underline;
      grid-column-start: 2;
      grid-row-end: 4;
      justify-content: end;
    }
  }
}
