asgiref==3.7.2
attrs==23.1.0
dj-database-url==2.1.0
Django
django-phonenumber-field
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.26.5
inflection==0.5.1
jsonschema
jsonschema-specifications
phonenumbers
Pillow
psycopg2
PyJWT==2.8.0
python-decouple==3.8
python-dotenv
pytz
PyYAML
referencing
sqlparse
typing_extensions
uritemplate
whitenoise==6.4.0
