.about-us {
  background-color: $violet300;
  padding: 59px 136px 24px;

  &__title {
    display: flex;
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    justify-content: center;
  }
}

.about-us__content {
  display: flex;
  gap: 230px;
}

.about-us__block-images {
  position: relative;

}

.image-block {

  &__images {
    border-radius: 50%;
    object-fit: cover;
    border: 7px dashed #fff;
    padding: 10px;
  }

  .image1 {
    z-index: 3;
    position: relative;
    width: 250px;
    height: 250px;
  }

  .image2 {
    position: relative;
    top: -45px;
    left: -15px;
    width: 230px;
    height: 230px;
  }

  .image3 {
    position: absolute;
    top: 140px;
    left: 200px;
    width: 250px;
    height: 250px;
  }
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 40px;

  .second-paragraph {
    margin-left: 55px;

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}
