html {
  font-family: 'Lexend', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 ,h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}

h2 {
  font-size: 52px;
  line-height: 58px;
  font-weight: 700;
}

h3 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 44px;
}

a {
  text-decoration: none;
  color: $stone950;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  border-radius: 8px;
  background-color: $stone50;
  padding: 0 16px;
  height: 42px;
  color: $violet500;
  font-family: 'Poppins', 'sans-serif';
  border: 1px solid $primary-500;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  transition: all 400ms ease;

  &__registration {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $stone50;
    background-color: $violet700;
  }

  &__get-pet {
    background-color: $violet700;
    color: #FFF;
    font-size: 20px;
    margin: 0 auto;
    height: 54px;
    padding: 0 50px;

    &__red {
      display: inline-block;
      color: red;
    }
  }

  &__signIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
    border: 1px solid $violet700;
    color: $violet700;
  }

  &__foundPet {
    background-color: $violet200;
  }
}

.activeButton {
  background-color: $violet200;
  border: 1px solid #503BC4;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.30);
  color: $violet950;
}

.button:hover {
  background-color: $violet200;
  border: 1px solid #503BC4;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.30);
  color: $violet950;
}

.activeLink {
  color: $violet900;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}
