html {
  font-family: 'Lexend', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 ,h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}

h2 {
  font-size: 52px;
  line-height: 58px;
  font-weight: 700;
}

h3 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 44px;
}

a {
  text-decoration: none;
  color: $stone950;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  border: 1px solid $violet300;
  border-radius: 5px;
  background-color: #FFF;
  padding: 7px 20px;
  color: $violet600;
  cursor: pointer;

  &__registration {
    color: #fff;
    background-color: $violet700;
  }

  &__get-pet {
    background-color: $violet700;
    color: #FFF;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 50px;

    &__red {
      display: inline-block;
      color: red;
    }
  }

  &__signIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  &__signIn:before {
    content: url("/public/assets/user.svg");
    position: relative;
    display: inline-block;
    align-items: center;
    top: 2px;
  }

  &__foundPet {
    background-color: $violet200;
  }
}
