.burger__menu {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: $violet100;
  height: 100vh;
  margin-top: 16px;
  padding: 0 10px;
  font-size: 18px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;


  @include md {
    margin-top: 60px;
    border-left: 1px solid $violet700;
    border-bottom: 1px solid $violet700;
    border-top: 1px solid $violet700;
    border-radius: 0 0 0 10px;
    height: 400px;
    width: 350px;
  }

  &__list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom: 1px solid $stone300;
  }

  &__links {
    padding: 20px;
    display: flex;
    column-gap: 5px;

    .link {
      text-decoration: underline;
    }
  }
}

.burgerOn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.burger__menu__profile {
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 15px;

  &--image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  &--name {
    font-size: 22px;
  }
}

@keyframes burgerOnAn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes burgerOffAn {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
