.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $violet600 !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $violet600 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: $violet600 !important;
}

.css-4pax7l-MuiPickersLayout-root {
  background-color: $violet200 !important;
}
