.top__section {
  position: relative;
  padding: 32px 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  background-color: $violet100;
  transition: hidden 400ms ease;

  .back-to-pets {
    display: none;
    position: absolute;
    font-size: 18px;
    cursor: pointer;

    @include md {
      display: flex;
    }

    &__text {
      display: flex;
      align-items: center;
    }
  }
}

.detail-page {
  position: relative;

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 100px;
  }

  &__content {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }

  &__story {
    width: 572px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__name {
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    color: $stone900;
  }

  &__button {
    width: 272px;
    height: 48px;
    padding: 5px 28px;
    font-size: 18px;
    color: #FFF;
    background-color: $violet700;
    letter-spacing: 1px;
  }

  &__box {
    display: none;

    &--img {
      width: 272px;
      height: 251px;
      border-radius: 10px;
      box-shadow: 0px 2px 5px #78716C;

      overflow: hidden;
      object-fit: cover;

      @include xl {
        height: 520px;
        max-width: 430px;
        position: relative;
        top: 55px;
      }
    }
  }
}

.bottom__section {
  display: flex;
  flex-direction: column;
  padding: 50px 74px;
  background-color: $violet200;

  @include xl {
    padding: 110px 235px;
    justify-content: space-between;
  }

  &--paragrahp {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-size: 24px;
    font-weight: 700;


    &__subtitle {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;
    }

    &__description {
      font-weight: 400;
      font-size: 16px;

    }
  }
}

.detail-page__mobile {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  @include md {
    display: none;
  }

  &__name {
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 24px;
  }

  &__image {
    margin: 0 auto;
    width: 272px;
    height: 251px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 48px;
  }

  &__story {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
