.donation {

  &__container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $violet100;

    @include lg {
      padding: 56px 136px;
    }
  }

  &__title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;

    @include md {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    font-size: 22px;
  }

  &__hero {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;


    @include md {
      display: flex;
      margin: 0 auto;
      width: 650px;
      padding-bottom: 35px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
