.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 55px;
  background-color: $violet300;
  gap: 30px;

  @include lg {
    padding: 30px 130px 35px;
  }

  &__logo {
    margin: 0 auto;
  }

  &__retreat {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include lg {
      gap: 40px
    }
  }
}

.sign {
  text-align: center;
  background-color: $violet200;
  padding: 10px;

  &__text {
    font-size: 12px;
  }
}
