.header {
  display: flex;
  justify-content: space-between;
  background-color: $violet100;
  padding: 272px 136px 192px;

  &__content {
    width: 500px;
  }

  &__title {
    margin-bottom: 50px;
    width: 720px;
  }

  &__image {
    background-image: url('./assets/main-image.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: -60px -100px;
    width: 500px;
    height: 300px;
  }
}

.content__buttons {
  display: flex;
  gap: 20px;
}
