.menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: #fff;
  padding: 16px 136px;

  &__logo {
    margin-left: 27px;
  }

  &__retreat {
    gap: 32px;
  }
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: $stone900;
    transition: all 400ms ease;
  }

  &__link:hover {
    color: $violet500;
  }
}

.registration {
  display: flex;
  gap: 16px;
}






