.menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: #fff;
  padding: 10px 80px;
}



.nav {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  justify-content: center;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
  }
}

.registration {
  display: flex;
  gap: 10px;
}






