.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #fff;

  @include md {
    padding: 16px 40px;
  }


  @include xl {
    gap: 50px;
    padding: 16px 136px;
  }

  &__logo {
    margin-left: 27px;
  }

  &__retreat {
    gap: 32px;
  }

  &__nav {
    display: none;

    @include lg {
      display: flex;
    }
  }
}

.burger {
  display: block;
  //width: 40px;
  //height: 40px;
  //background-image: url(./assets/burger.svg);
  cursor: pointer;

  @include lg {
    display: none;
  }
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: $stone900;
    transition: all 400ms ease;
  }

  &__link:hover {
    color: $violet500;
  }
}

.registration {

  @include md {
    display: flex;
    gap: 24px;
  }

  &__menu {
    display: none;
    gap: 16px;

    @include md {
      display: flex;
      gap: 24px;
    }
  }

  @include md {
    display: flex;
  }
}

.sign-in__text {
  display: none;

  @include lg {
    display: flex;
  }
}






