.pay {
  background-color: $violet100;
  display: flex;

  &__form {

  }

  &__left {
    width: 100vh;
    height: 100vh;
  }

  &__right {
    flex: 1;
    height: 100vh;
    background-color: $violet300;

  }
}


