.respond {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  top: 330px;
  left: 460px;
  transition: opacity 400ms ease;
}
