.respond {
  position: absolute;
  background-color: $violet300;
  border-radius: 10px;
  display: flex;
  z-index: 2;
  overflow: hidden;
  top: 330px;
  left: 460px;
  transition: opacity 400ms ease;
  box-shadow: 0px 0px 5px 2px $stone500;
}
