.user-page {
  display: flex;
  column-gap: 200px;
  padding: 40px 120px;
  background-color: $violet100;
  height: 87vh;

  &__image__wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
  }

  &__wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 372px;
    width: 373px;
    box-shadow: 2xp 2px 5px $stone600;
    border-radius: 8px;
  }

  &__photo {
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  .image__wrapper {
    width: 372px;
    height: 373px;
    border-radius: 10px;
    overflow: hidden;
  }

  .image__profile {
    object-fit: cover;
    width: 372px;
    height: 373px;
  }

  &__wrapper:hover::after {
    position: absolute;
    content: "";
    background-image: url('./assets/pancel.svg');
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
  }


  &__information {
    display: flex;
    column-gap: 100px;
  }

  &__description {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 18px;
  }

}

.buttons {
  display: flex;
  column-gap: 7px;
}

.image-wrapper {
  position: relative;

  .upload-file {
    position: absolute;
    right: 0;
    top: 0;
  }
}
