.user-page {
  display: flex;
  padding: 32px 20px;
  flex-direction: column;
  gap: 19px;

  background-color: $violet100;
  height: 72vh;

  @include md {
    padding: 48px 40px;
  }

  @include lg {
    padding: 59px 80px;
  }

  @include xl {
    padding: 59px 136px;
    height: 87vh;
  }

  &__image__wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
  }

  &__log-out {
    display: flex;
    flex: 1;
    justify-content: end;

    @include md {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 2xp 2px 5px $stone600;
    border-radius: 8px;

    width: 98px;
    height: 128px;

    @include md {
      width: 265px;
      height: 266px;
    }

    @include lg {
      width: 372px;
      height: 373px;
    }
  }

  &__photo {
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  .image__wrapper {
    overflow: hidden;
  }

  .image__profile {
    height: 100%;
  }

  &__wrapper:hover::after {
    position: absolute;
    content: "";
    background-image: url('./assets/pancel.svg');
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
  }


  &__information {
    display: flex;

    column-gap: 19px;

    @include md {
      column-gap: 40px;
    }

    @include lg {
      column-gap: 80px;
    }

    @include xl {
      column-gap: 128px;
    }
  }

  &__description {
    margin-top: 7px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;

    @include md {
      margin-top: 15px;
    }

    &--name {
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;

      @include md {
        font-size: 36px;
        line-height: 40px;
      }
    }
  }

  p {
    font-size: 12px;

    @include md {
      font-size: 16px;
    }
  }

}

.buttons {
  display: flex;
  column-gap: 7px;
}

.image-wrapper {
  position: relative;

  .upload-file {
    position: absolute;
    right: 0;
    top: 0;
  }
}
