$violet50: #F5F3FF;
$violet100: #EDE9FE;
$violet200: #DDD6FE;
$violet300: #C4B5FD;
$violet400: #A78BFA;
$violet500: #8B5CF6;
$violet600: #7C3AED;
$violet700: #6D28D9;
$violet800: #5B21B6;
$violet900: #4C1D95;
$violet950: #2E1065;

$primary-500: #503BC4;

$stone50: #FAFAF9;
$stone100: #F5F5F4;
$stone200: #E7E5E4;
$stone300: #D6D3D1;
$stone400: #A8A29E;
$stone500: #78716C;
$stone600: #57534E;
$stone700: #44403C;
$stone800: #292524;
$stone900: #1C1917;
$stone950: #0C0A09;
