@keyframes burgerOn {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
html {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}

h2 {
  font-size: 52px;
  line-height: 58px;
  font-weight: 700;
}

h3 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 44px;
}

a {
  text-decoration: none;
  color: #0C0A09;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  border-radius: 8px;
  background-color: #FAFAF9;
  padding: 0 16px;
  height: 42px;
  color: #8B5CF6;
  font-family: "Poppins", "sans-serif";
  border: 1px solid #503BC4;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  transition: all 400ms ease;
}
.button__registration {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAFAF9;
  background-color: #6D28D9;
}
.button__get-pet {
  background-color: #6D28D9;
  color: #FFF;
  font-size: 20px;
  margin: 0 auto;
  height: 54px;
  padding: 0 50px;
}
.button__get-pet__red {
  display: inline-block;
  color: red;
}
.button__signIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  border: 1px solid #6D28D9;
  color: #6D28D9;
}
.button__foundPet {
  background-color: #DDD6FE;
}

.activeButton {
  background-color: #DDD6FE;
  border: 1px solid #503BC4;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  color: #2E1065;
}

@media (min-width: 768px) {
  .button:hover {
    background-color: #DDD6FE;
    border: 1px solid #503BC4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    color: #2E1065;
  }
}
.activeLink {
  color: #4C1D95;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}

.logo {
  position: relative;
}
.logo__text {
  font-size: 20px;
  font-weight: 700;
  font-family: "Lexend", sans-serif;
  transition: all 400ms ease;
}
.logo__text:hover {
  color: #8B5CF6;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.logo__image {
  position: absolute;
  left: -28px;
  top: -1px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .menu {
    padding: 16px 40px;
  }
}
@media (min-width: 1280px) {
  .menu {
    gap: 50px;
    padding: 16px 136px;
  }
}
.menu__logo {
  margin-left: 27px;
}
.menu__retreat {
  gap: 32px;
}
.menu__nav {
  display: none;
}
@media (min-width: 1024px) {
  .menu__nav {
    display: flex;
  }
}

.burger {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/burger.svg);
  cursor: pointer;
}
@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #1C1917;
  transition: all 400ms ease;
}
.nav__link:hover {
  color: #8B5CF6;
}

@media (min-width: 768px) {
  .registration {
    display: flex;
    gap: 24px;
  }
}
.registration__menu {
  display: none;
  gap: 16px;
}
@media (min-width: 768px) {
  .registration__menu {
    display: flex;
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .registration {
    display: flex;
  }
}

.sign-in__text {
  display: none;
}
@media (min-width: 1024px) {
  .sign-in__text {
    display: flex;
  }
}

.header {
  padding: 24px 20px 40px;
  background-color: #EDE9FE;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (min-width: 768px) {
  .header {
    padding: 80px 48px 96px;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 80px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 272px 136px 192px;
  }
}
.header__content {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 24px;
}
@media (min-width: 768px) {
  .header__content {
    width: 628px;
  }
}
@media (min-width: 1024px) {
  .header__content {
    width: 500px;
    margin: 0;
  }
}
.header__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 1024px) {
  .header__title {
    margin-bottom: 50px;
    text-align: left;
  }
}
.header__image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 250px;
}
@media (min-width: 768px) {
  .header__image {
    height: 325px;
  }
}
@media (min-width: 1024px) {
  .header__image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 325px;
  }
  .header__image .main__image {
    height: 100%;
  }
}

.content__buttons {
  display: flex;
  gap: 20px;
}

.about-us {
  background-color: #C4B5FD;
  padding: 15px 20px;
}
@media (min-width: 768px) {
  .about-us {
    padding: 51px 40px;
  }
}
@media (min-width: 1024px) {
  .about-us {
    padding: 59px 60px;
  }
}
@media (min-width: 1280px) {
  .about-us {
    padding: 59px 136px 192px;
  }
}
.about-us__title {
  display: flex;
  margin-bottom: 29px;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  justify-content: center;
}

.about-us__content {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1024px) {
  .about-us__content {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .about-us__content {
    gap: 230px;
  }
}

.about-us__block-images {
  position: relative;
  left: 22px;
  top: 49px;
}
@media (min-width: 768px) {
  .about-us__block-images {
    left: 160px;
    top: 49px;
  }
}
@media (min-width: 1024px) {
  .about-us__block-images {
    left: 0px;
    top: 90px;
  }
}

.image-block__images {
  border-radius: 50%;
  object-fit: cover;
  border: 7px dashed #fff;
  padding: 10px;
}

.image1 {
  z-index: 3;
  position: relative;
  width: 150px;
  height: 150px;
}
@media (min-width: 768px) {
  .image1 {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .image1 {
    width: 250px;
    height: 250px;
  }
}

.image2 {
  position: relative;
  top: -45px;
  left: -15px;
  width: 130px;
  height: 130px;
}
@media (min-width: 768px) {
  .image2 {
    top: -11px;
    left: 15px;
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 1024px) {
  .image2 {
    top: -35px;
    left: -35px;
  }
}
@media (min-width: 1280px) {
  .image2 {
    width: 230px;
    height: 230px;
  }
}

.image3 {
  position: absolute;
  top: 100px;
  left: 110px;
  width: 150px;
  height: 150px;
}
@media (min-width: 768px) {
  .image3 {
    top: 119px;
    left: 196px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .image3 {
    top: 140px;
    left: 154px;
  }
}
@media (min-width: 1280px) {
  .image3 {
    top: 140px;
    left: 200px;
    width: 250px;
    height: 250px;
  }
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1024px) {
  .about-us__text {
    margin-top: 40px;
    gap: 48px;
  }
}
.about-us__text .second-paragraph {
  margin-left: 55px;
}
@media (min-width: 768px) {
  .about-us__text .second-paragraph {
    margin-left: 167px;
  }
}
.about-us__text .second-paragraph__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.statistics {
  display: flex;
  justify-content: center;
  padding: 90px 0;
  background-color: #DDD6FE;
}
.statistics__container {
  display: grid;
  column-gap: 150px;
  row-gap: 100px;
  grid-template-columns: 200px;
  width: 200px;
}
@media (min-width: 1024px) {
  .statistics__container {
    grid-template-columns: 200px 200px;
    margin-right: 350px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  width: 215px;
}
.block__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 15px;
}
.block__triangle {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 2px dashed yellow;
  transform: rotate(30deg);
  border-radius: 15px;
}
.block__second-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  border: 2px dashed #A78BFA;
  transform: rotate(20deg);
}
.block__subtitle {
  font-size: 45px;
  transform: rotate(-50deg);
  text-align: center;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 80px 0 125px;
  background-color: #EDE9FE;
}
.announcement__title {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1024px) {
  .announcement__title {
    width: 620px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 55px;
  background-color: #C4B5FD;
  gap: 30px;
}
@media (min-width: 1024px) {
  .footer {
    padding: 30px 130px 35px;
  }
}
.footer__logo {
  margin: 0 auto;
}
.footer__retreat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1024px) {
  .footer__retreat {
    gap: 40px;
  }
}

.sign {
  text-align: center;
  background-color: #DDD6FE;
  padding: 10px;
}
.sign__text {
  font-size: 12px;
}

.carousel {
  display: flex;
  gap: 28px;
  justify-content: center;
}
@media (min-width: 1024px) {
  .carousel {
    gap: 40px;
  }
}
.carousel__window {
  display: flex;
  width: 278px;
  overflow: hidden;
  gap: 40px;
  padding: 5px;
  transition: all 600ms ease-in-out;
}
@media (min-width: 1024px) {
  .carousel__window {
    width: 612px;
  }
}
@media (min-width: 1280px) {
  .carousel__window {
    width: 920px;
  }
}
.carousel__button {
  display: flex;
  padding: 10px;
  border-width: 0 3px 3px 0;
  justify-content: center;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}
.carousel__button--left {
  position: relative;
  left: 20px;
  -webkit-transform: rotate(135deg);
}
@media (min-width: 768px) {
  .carousel__button--left {
    position: static;
  }
}
.carousel__button--right {
  position: relative;
  right: 20px;
  -webkit-transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .carousel__button--right {
    position: static;
  }
}

.carouselItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 500ms ease-in-out;
}
.carouselItem p {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
}
.carouselItem__photo {
  width: 280px;
  height: 400px;
}
.carouselItem__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #78716C;
}
.carouselItem__information {
  display: grid;
  row-gap: 7px;
  grid-template-columns: 1fr 1fr;
  background-color: #DDD6FE;
  border-radius: 8px;
  border: 1px dashed #78716C;
  padding: 20px 10px 12px;
}
.carouselItem__information__link {
  margin-top: 10px;
  display: flex;
  text-decoration: underline;
  grid-column-start: 2;
  grid-row-end: 4;
  justify-content: end;
  transition: all 400ms ease;
}
.carouselItem__information__link:hover {
  color: #8B5CF6;
}

.header__list-of-pets__title {
  padding: 32px 34px;
  text-align: center;
  background-color: #EDE9FE;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: #1C1917;
}
@media (min-width: 1024px) {
  .header__list-of-pets__title {
    padding: 48px 0;
    font-size: 40px;
  }
}

.filter {
  display: none;
  background-color: #fff;
  gap: 50px;
}
@media (min-width: 768px) {
  .filter {
    padding: 8px 40px;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .filter {
    padding: 8px 136px;
  }
}
.filter__box {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #5B21B6;
  color: #57534E;
}
.filter__box--mark {
  margin-top: -5px;
  height: 7px;
  width: 7px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform: rotate(45deg);
}
.filter__input {
  position: relative;
}
.filter__input__title {
  color: #2E1065;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 3px;
  opacity: 0.7;
}
.filter__input__name {
  color: #2E1065;
  font-size: 16px;
  line-height: 24px;
}

.main__list-of-pets {
  grid-template-columns: 1fr;
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  padding: 40px 20px;
  background-color: #EDE9FE;
}
@media (min-width: 768px) {
  .main__list-of-pets {
    padding: 56px 40px;
  }
}
@media (min-width: 1024px) {
  .main__list-of-pets {
    row-gap: 56px;
    padding: 56px 40px;
  }
}
@media (min-width: 1280px) {
  .main__list-of-pets {
    padding: 56px 136px;
  }
}
.main__list-of-pets .loader__center {
  grid-column-start: 2;
}
@media (min-width: 1024px) {
  .main__list-of-pets {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .main__list-of-pets {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.drop__down {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  border-top: 0px;
  bottom: -86px;
  left: 0;
  width: 100px;
  border-radius: 0 0 10px 10px;
}
.drop__down--list {
  padding: 0;
  list-style-type: none;
}
.drop__down--item {
  padding: 5px 10px;
  cursor: pointer;
}
.drop__down--item:hover {
  background-color: #E7E5E4;
}

.show__dropdown {
  opacity: 1;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}
.card__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.card__description--name {
  font-size: 32px;
}
.card__description p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #A8A29E;
}
@media (min-width: 768px) {
  .card__image {
    width: 354px;
    height: 402px;
  }
}
@media (min-width: 1024px) {
  .card__image {
    width: 260px;
    height: 350px;
  }
}
.card__link {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}

.ErrorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}
.ErrorPage h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top__section {
  position: relative;
  padding: 32px 20px;
  display: flex;
  column-gap: 26px;
  background-color: #EDE9FE;
  transition: hidden 400ms ease;
}
@media (min-width: 768px) {
  .top__section {
    padding: 32px 40px;
  }
}
@media (min-width: 1024px) {
  .top__section {
    justify-content: space-between;
    padding: 34px 80px;
  }
}
@media (min-width: 1280px) {
  .top__section {
    justify-content: space-between;
    padding: 34px 136px;
    column-gap: 100px;
  }
}
.top__section .back-to-pets {
  display: none;
  position: absolute;
  font-size: 18px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .top__section .back-to-pets {
    display: flex;
  }
}
.top__section .back-to-pets__text {
  display: flex;
  align-items: center;
}

.detail-page {
  position: relative;
}
.detail-page__text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 100px;
}
@media (min-width: 768px) {
  .detail-page__text {
    width: 317px;
  }
}
.detail-page__content {
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}
@media (min-width: 768px) {
  .detail-page__content {
    display: flex;
  }
}
.detail-page__story {
  width: 572px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .detail-page__story {
    width: 317px;
  }
}
@media (min-width: 1280px) {
  .detail-page__story {
    width: 572px;
  }
}
.detail-page__name {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  color: #1C1917;
}
.detail-page__button {
  width: 272px;
  height: 48px;
  padding: 5px 28px;
  font-size: 18px;
  color: #FFF;
  background-color: #6D28D9;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .detail-page__button {
    width: 159px;
  }
}
@media (min-width: 1280px) {
  .detail-page__button {
    width: 272px;
  }
}
.detail-page__box {
  display: none;
}
@media (min-width: 768px) {
  .detail-page__box {
    display: flex;
    align-items: center;
  }
}
.detail-page__box--img {
  width: 272px;
  height: 251px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #78716C;
  overflow: hidden;
  object-fit: cover;
}
@media (min-width: 768px) {
  .detail-page__box--img {
    width: 290px;
    height: 351px;
  }
}
@media (min-width: 1280px) {
  .detail-page__box--img {
    height: 520px;
    width: 430px;
    position: relative;
    top: 55px;
  }
}

.bottom__section {
  display: none;
  flex-direction: column;
  padding: 50px 74px;
  background-color: #DDD6FE;
}
@media (min-width: 768px) {
  .bottom__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 84px;
  }
}
@media (min-width: 1280px) {
  .bottom__section {
    padding: 110px 235px;
    justify-content: space-between;
  }
}
.bottom__section--paragrahp {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 24px;
  font-weight: 700;
}
.bottom__section--paragrahp__subtitle {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
.bottom__section--paragrahp__description {
  font-weight: 400;
  font-size: 16px;
}

.center {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.bottom__section--mobile {
  padding: 48px 72px;
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  align-items: center;
  background-color: #DDD6FE;
}
@media (min-width: 768px) {
  .bottom__section--mobile {
    display: none;
  }
}
.bottom__section--mobile__description {
  display: flex;
  gap: 12px;
}
.bottom__section--mobile__description__box {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.bottom__section--mobile__description--title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
.bottom__section--mobile__description--name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.detail-page__mobile {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .detail-page__mobile {
    display: none;
  }
}
.detail-page__mobile__button {
  background-color: #7C3AED;
  color: #FFFFFF;
}
.detail-page__mobile__name {
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 24px;
}
.detail-page__mobile__image {
  margin: 0 auto;
  width: 272px;
  height: 251px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 48px;
}
.detail-page__mobile__story {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 32px;
}

.RegistrationPage {
  background-color: #EDE9FE;
  height: 100vh;
  position: relative;
}

.registration__left-box {
  width: 50%;
  background-image: url("./assets/pappi.jpeg");
  background-position: center;
  background-size: cover;
}
.registration__right-box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.registration__from {
  width: 260px;
  box-shadow: 2px 2px 10px #78716C;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 100px 130px;
  background-color: #DDD6FE;
  border-radius: 10px;
}
.registration__from--title {
  display: flex;
  margin: 0 auto;
}
.registration__from--subtitle {
  color: #78716C;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.form__input {
  border: 1px solid #A78BFA;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}
.form .label {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form .label .error--message {
  display: flex;
  column-gap: 4px;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  top: 38px;
  left: 5px;
  color: #D92D20;
}
.form .label .error--message:before {
  background: url("./assets/error-icon.svg");
  display: flex;
  content: "";
  width: 16px;
  height: 16px;
}
.form__button {
  background-color: #6D28D9;
  border: 1px solid #6D28D9;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #57534E;
  transition: all 400ms ease;
}
.form__button:hover {
  box-shadow: none;
}
.form__button:active {
  background-color: #7C3AED;
}

.button__close {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button__close:active {
  opacity: 0.7;
}

.isDangerous {
  border-color: #D92D20;
}

.user-menu {
  display: flex;
  gap: 16px;
}
.user-menu__user {
  cursor: pointer;
}
.user-menu__logout {
  cursor: pointer;
}

.user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #FAFAF9;
  background-color: #6D28D9;
  height: 42px;
  padding: 0 18px;
  cursor: pointer;
}

.pay {
  background-color: #EDE9FE;
  display: flex;
}
.pay__left {
  width: 100vh;
  height: 100vh;
}
.pay__right {
  flex: 1;
  height: 100vh;
  background-color: #C4B5FD;
}

.user-page {
  display: flex;
  padding: 32px 20px;
  flex-direction: column;
  gap: 19px;
  background-color: #EDE9FE;
  height: 72vh;
}
@media (min-width: 768px) {
  .user-page {
    padding: 48px 40px;
  }
}
@media (min-width: 1024px) {
  .user-page {
    padding: 59px 80px;
  }
}
@media (min-width: 1280px) {
  .user-page {
    padding: 59px 136px;
    height: 87vh;
  }
}
.user-page__image__wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
}
.user-page__wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 2xp 2px 5px #57534E;
  border-radius: 8px;
  width: 98px;
  height: 128px;
}
@media (min-width: 768px) {
  .user-page__wrapper {
    width: 265px;
    height: 266px;
  }
}
@media (min-width: 1024px) {
  .user-page__wrapper {
    width: 372px;
    height: 373px;
  }
}
.user-page__photo {
  padding: 10px;
  width: 50px;
  height: 50px;
}
.user-page .image__wrapper {
  overflow: hidden;
}
.user-page .image__profile {
  height: 100%;
}
.user-page__wrapper:hover::after {
  position: absolute;
  content: "";
  background-image: url("./assets/pancel.svg");
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
}
.user-page__information {
  display: flex;
  column-gap: 19px;
}
@media (min-width: 768px) {
  .user-page__information {
    column-gap: 40px;
  }
}
@media (min-width: 1024px) {
  .user-page__information {
    column-gap: 80px;
  }
}
@media (min-width: 1280px) {
  .user-page__information {
    column-gap: 128px;
  }
}
.user-page__description {
  margin-top: 7px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .user-page__description {
    margin-top: 15px;
  }
}
.user-page__description--name {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
@media (min-width: 768px) {
  .user-page__description--name {
    font-size: 36px;
    line-height: 40px;
  }
}
.user-page p {
  font-size: 12px;
}
@media (min-width: 768px) {
  .user-page p {
    font-size: 16px;
  }
}

.buttons {
  display: flex;
  column-gap: 7px;
}

.image-wrapper {
  position: relative;
}
.image-wrapper .upload-file {
  position: absolute;
  right: 0;
  top: 0;
}

.respond {
  position: absolute;
  background-color: #C4B5FD;
  border-radius: 10px;
  display: flex;
  z-index: 2;
  overflow: hidden;
  top: 330px;
  left: 460px;
  transition: opacity 400ms ease;
  box-shadow: 0px 0px 5px 2px #78716C;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #7C3AED !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #7C3AED !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #7C3AED !important;
}

.css-4pax7l-MuiPickersLayout-root {
  background-color: #DDD6FE !important;
}

.burger__menu {
  padding: 0 10px;
  margin-top: 16px;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: #EDE9FE;
  z-index: 1;
  font-size: 18px;
  transition: transform 400ms ease-in-out;
  transform: translate(100%);
}
@media (min-width: 768px) {
  .burger__menu {
    margin-top: 60px;
    transform: translate(100%);
    border-left: 1px solid #6D28D9;
    border-bottom: 1px solid #6D28D9;
    border-top: 1px solid #6D28D9;
    border-radius: 0 0 0 10px;
    height: 400px;
  }
}
.burger__menu__list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid #D6D3D1;
}
.burger__menu__links {
  padding: 20px;
  display: flex;
  column-gap: 5px;
}
.burger__menu__links .link {
  text-decoration: underline;
}

.burgerOn {
  transition: transform 400ms ease-in-out;
  transform: translateX(0);
}
@media (min-width: 768px) {
  .burgerOn {
    transform: translateX(50%);
  }
}

@keyframes burgerOn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes burgerOff {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/*# sourceMappingURL=App.css.map */
