html {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}

h2 {
  font-size: 52px;
  line-height: 58px;
  font-weight: 700;
}

h3 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 44px;
}

a {
  text-decoration: none;
  color: #0C0A09;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  border: 1px solid #C4B5FD;
  border-radius: 5px;
  background-color: #FFF;
  padding: 10px 20px;
  color: #7C3AED;
  cursor: pointer;
}
.button__registration {
  background-color: #6D28D9;
  color: #FFF;
}
.button__signIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.button__signIn:before {
  content: url("/public/assets/user.svg");
  position: relative;
  display: inline-block;
  align-items: center;
  top: 2px;
}
.button__foundPet {
  background-color: #DDD6FE;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: #fff;
  padding: 10px 80px;
}
.menu__logo {
  position: relative;
  margin-left: 27px;
}

.logo-image {
  position: absolute;
  left: -27px;
  top: -5px;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  justify-content: center;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
}

.registration {
  display: flex;
  gap: 10px;
}

.header {
  background-color: #F5F3FF;
  padding: 160px 80px 120px;
}
.header__content {
  width: 500px;
}
.header__title {
  margin-bottom: 50px;
}

.content__buttons {
  display: flex;
  gap: 20px;
}

.about-us {
  background-color: #C4B5FD;
  padding: 40px 80px 10px 100px;
}
.about-us__title {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

.about-us__content {
  display: flex;
  gap: 230px;
}

.about-us__block-images {
  position: relative;
}

.image-block__images {
  border-radius: 50%;
  object-fit: cover;
  border: 7px dashed #fff;
  padding: 10px;
}
.image-block .image1 {
  z-index: 3;
  position: relative;
  width: 250px;
  height: 250px;
}
.image-block .image2 {
  position: relative;
  top: -45px;
  left: -15px;
  width: 230px;
  height: 230px;
}
.image-block .image3 {
  position: absolute;
  top: 140px;
  left: 200px;
  width: 250px;
  height: 250px;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
}
.about-us__text .second-paragraph {
  margin-left: 55px;
}

.statistics {
  display: flex;
  justify-content: center;
  padding: 75px 0 80px;
  gap: 150px;
  background-color: #DDD6FE;
}

.statistics-column {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 215px;
}
.block__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 15px;
}
.block__triangle {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 2px dashed yellow;
  transform: rotate(30deg);
  border-radius: 15px;
}
.block__second-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  border: 2px dashed #A78BFA;
  transform: rotate(20deg);
}
.block__subtitle {
  transform: rotate(-50deg);
  text-align: center;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 80px 0 125px;
  background-color: #EDE9FE;
}
.announcement__title {
  margin: 0 auto;
  width: 620px;
  text-align: center;
}

.carousel {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.carousel__button {
  display: flex;
  padding: 10px;
  border-width: 0 3px 3px 0;
  justify-content: center;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}
.carousel__button--left {
  -webkit-transform: rotate(135deg);
}
.carousel__button--right {
  -webkit-transform: rotate(-45deg);
}

.carouselItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.carouselItem p {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
}
.carouselItem__photo {
  width: 280px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #78716C;
  background-position: center;
  background-size: 640px;
  background-repeat: no-repeat;
}
.carouselItem__information {
  display: grid;
  row-gap: 7px;
  grid-template-columns: 1fr 1fr;
  background-color: #DDD6FE;
  border-radius: 8px;
  border: 1px dashed #78716C;
  padding: 20px 10px 12px;
}
.carouselItem__information__link {
  margin-top: 10px;
  display: flex;
  text-decoration: underline;
  grid-column-start: 2;
  grid-row-end: 4;
  justify-content: end;
}

/*# sourceMappingURL=App.css.map */
