@import "styles/variables";
@import "styles/base";
@import "styles/logo";
@import "styles/navigation";
@import "styles/header";
@import "styles/about-us";
@import "styles/statistics";
@import "styles/announcement";
@import "styles/footer";
@import "components/corusel/carousel";
@import "components/corusel/carouselItem";
@import "styles/list-of-pets";
@import "styles/card";
