html {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
}

h2 {
  font-size: 52px;
  line-height: 58px;
  font-weight: 700;
}

h3 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 44px;
}

a {
  text-decoration: none;
  color: #0C0A09;
}

p {
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  padding: 7px 20px;
  color: #7C3AED;
  cursor: pointer;
  box-shadow: 2px 2px 5px #A8A29E;
  transition: all 400ms ease;
}
.button__registration {
  color: #fff;
  background-color: #6D28D9;
}
.button__get-pet {
  background-color: #6D28D9;
  color: #FFF;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px 50px;
}
.button__get-pet__red {
  display: inline-block;
  color: red;
}
.button__get-pet:hover {
  scale: 1.05;
  box-shadow: none;
}
.button__signIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: 1px solid #C4B5FD;
}
.button__signIn:before {
  content: url("/public/assets/user.svg");
  position: relative;
  display: inline-block;
  align-items: center;
  top: 2px;
}
.button__foundPet {
  background-color: #DDD6FE;
}

.button:hover {
  scale: 1.05;
  box-shadow: none;
}

.logo {
  position: relative;
}
.logo__image {
  position: absolute;
  left: -27px;
  top: -5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: #fff;
  padding: 10px 80px;
}
.menu__logo {
  margin-left: 27px;
}
.menu__retreat {
  gap: 20px;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
}

.registration {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #EDE9FE;
  padding: 160px 80px 120px;
}
.header__content {
  width: 500px;
}
.header__title {
  margin-bottom: 50px;
  width: 720px;
}
.header__image {
  background-image: url("./assets/main-image.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -60px -100px;
  width: 500px;
  height: 300px;
}

.content__buttons {
  display: flex;
  gap: 20px;
}

.about-us {
  background-color: #C4B5FD;
  padding: 40px 80px 10px 100px;
}
.about-us__title {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

.about-us__content {
  display: flex;
  gap: 230px;
}

.about-us__block-images {
  position: relative;
}

.image-block__images {
  border-radius: 50%;
  object-fit: cover;
  border: 7px dashed #fff;
  padding: 10px;
}
.image-block .image1 {
  z-index: 3;
  position: relative;
  width: 250px;
  height: 250px;
}
.image-block .image2 {
  position: relative;
  top: -45px;
  left: -15px;
  width: 230px;
  height: 230px;
}
.image-block .image3 {
  position: absolute;
  top: 140px;
  left: 200px;
  width: 250px;
  height: 250px;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}
.about-us__text .second-paragraph {
  margin-left: 55px;
}
.about-us__text .second-paragraph__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.statistics {
  display: flex;
  justify-content: center;
  padding: 90px 0;
  background-color: #DDD6FE;
}
.statistics__container {
  display: grid;
  column-gap: 150px;
  row-gap: 100px;
  margin-right: 350px;
  grid-template-columns: 200px 200px;
  width: 200px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 215px;
}
.block__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 15px;
}
.block__triangle {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 2px dashed yellow;
  transform: rotate(30deg);
  border-radius: 15px;
}
.block__second-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  border: 2px dashed #A78BFA;
  transform: rotate(20deg);
}
.block__subtitle {
  font-size: 45px;
  transform: rotate(-50deg);
  text-align: center;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 80px 0 125px;
  background-color: #EDE9FE;
}
.announcement__title {
  margin: 0 auto;
  width: 620px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 130px 35px;
  background-color: #C4B5FD;
  gap: 30px;
}
.footer__logo {
  margin: 0 auto;
}
.footer__retreat {
  gap: 40px;
}

.sign {
  text-align: center;
  background-color: #DDD6FE;
  padding: 10px;
}
.sign__text {
  font-size: 12px;
}

.carousel {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.carousel__window {
  display: flex;
  width: 920px;
  overflow: hidden;
  gap: 40px;
  padding: 5px;
  transition: all 600ms ease-in-out;
}
.carousel__button {
  display: flex;
  padding: 10px;
  border-width: 0 3px 3px 0;
  justify-content: center;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}
.carousel__button--left {
  -webkit-transform: rotate(135deg);
}
.carousel__button--right {
  -webkit-transform: rotate(-45deg);
}

.carouselItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 500ms ease-in-out;
}
.carouselItem p {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
}
.carouselItem__photo {
  width: 280px;
  height: 400px;
}
.carouselItem__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #78716C;
}
.carouselItem__information {
  display: grid;
  row-gap: 7px;
  grid-template-columns: 1fr 1fr;
  background-color: #DDD6FE;
  border-radius: 8px;
  border: 1px dashed #78716C;
  padding: 20px 10px 12px;
}
.carouselItem__information__link {
  margin-top: 10px;
  display: flex;
  text-decoration: underline;
  grid-column-start: 2;
  grid-row-end: 4;
  justify-content: end;
}

.header__list-of-pets__title {
  padding: 40px 0;
  text-align: center;
  background-color: #EDE9FE;
  font-size: 40px;
}

.filter {
  padding: 10px 80px;
  display: flex;
  background-color: #fff;
  gap: 20px;
}
.filter__box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 8px;
  height: 40px;
  width: 200px;
  border: 1px solid black;
  color: #57534E;
}
.filter__box--mark {
  margin-top: -5px;
  height: 7px;
  width: 7px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform: rotate(45deg);
}
.filter__input__title {
  color: #78716C;
  font-size: 12px;
  margin-bottom: 3px;
}

.main__list-of-pets {
  grid-template-columns: 1fr;
  display: grid;
  row-gap: 30px;
  column-gap: 20px;
  padding: 40px 80px;
  background-color: #EDE9FE;
}
.main__list-of-pets .loader__center {
  grid-column-start: 2;
}
@media (min-width: 1024px) {
  .main__list-of-pets {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .main__list-of-pets {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  display: flex;
  gap: 10px;
}
.card__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.card__description--name {
  font-size: 36px;
}
.card__description p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.card__image {
  width: 260px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #A8A29E;
}
.card__link {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}

.ErrorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}
.ErrorPage h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=App.css.map */
